[MASTER]
ignore=.git,.venv,node_modules,.next,frontend
load-plugins=pylint.extensions.docparams,pylint.extensions.no_self_use

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,C0301,W0718,W1203,R0903

[REPORTS]
output-format=colorized

[BASIC]
good-names=i,j,k,ex,Run,_,id,ev,db,ip

[DESIGN]
max-args=7
max-attributes=12
max-locals=20
max-returns=10
max-branches=15
max-statements=50
