[MASTER]
ignore=.git,.venv,node_modules,.next,frontend
load-plugins=pylint.extensions.docparams

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,C0301,W0718,W1203,R0903,R0917,R0801,R0401,R0904,R0913,R0914

[REPORTS]
output-format=colorized

[BASIC]
good-names=i,j,k,ex,Run,_,id,ev,db,ip

[DESIGN]
max-args=15
max-attributes=20
max-locals=30
max-returns=15
max-branches=20
max-statements=80
max-public-methods=30
